.App {
  text-align: center;
  background-color: rgb(33, 29, 29);
  display: grid;
  padding:100px;
  padding-left: 300px;
  padding-right: 300px;
}
.card{
  height:100px;
  width: 150px;
  border-radius: 10%;
  background-color: darkred;
  border: 2px double goldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

  .title{
  font-size: 60px;
  color:antiquewhite;
  text-shadow:2px 2px goldenrod;

}
.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap ;
}